doctype
html
    head
        title #{ title }
        link(rel="stylesheet" href="#{ uri }/style.css")
        meta(name='viewport', content='width=device-width, initial-scale=1')

        style.
            .wrap {
                width: 1200px;
            }

    body#main(data-spy="scroll", data-target="#nav")

        header#header.wrapper
            #header-inner.inner
                h1#logo-wrap
                    a#logo(href='/wizhi-cms/') Wizhi CMS
                nav#main-nav
                    a.main-nav-link(href='/wizhi-cms/docs/') 文档
                    a.main-nav-link(href='https://github.com/iwillhappy1314/wizhi-cms') 代码
                    a.main-nav-link(target='_blank', href='https://github.com/iwillhappy1314/wizhi-ui') UI 库
                    a.main-nav-link(target='_blank', href='https://github.com/iwillhappy1314/front') 前端工具
                    a.main-nav-link(target='_blank', href='https://github.com/iwillhappy1314/enter') 主题框架


        block content

            #content-wrap
                #content.wrapper
                    #content-inner
                        article.article-container(itemscope='', itemtype='http://schema.org/Article')
                            .article-inner
                                .article
                                    .inner
                                        header.article-header
                                            span #{ title }
                                        .article-content(itemprop='articleBody')
                                            != yield


                        aside#sidebar(role='navigation')
                            .inner
                                for menu, slug in public.docs._data
                                    strong.sidebar-title
                                        span= menu.title
                                    for m, slug in menu.sub
                                        a.sidebar-link(href="#{ uri }/docs/#{ slug }.html")
                                            span= m.title


        footer#footer
            .wrapper
                .inner
                    #footer-copyright
                        | © 2016
                        a(href='https://www.wpzhiku.com/', target='_blank') WordPress 智库
                        br
                        | Live in China, WordPress Developer
                    #footer-links
                        a.footer-link(href='https://github.com/iwillhappy1314', target='_blank') Profile
                        a.footer-link(href='https://github.com/iwillhappy1314/wizhi-cms', target='_blank') Github