doctype
html
    head
        title #{ title }
        link(rel="stylesheet" href="#{ uri }/dist/styles/main.css")
        meta(name='viewport', content='width=device-width, initial-scale=1')
        script(src="#{ uri }/dist/scripts/jquery.js")
        script(src="#{ uri }/dist/scripts/main.js")


    body(data-spy="scroll", data-target="#nav")

        header.demo-header.sep
            .wrap
                button#menu-trigger.pull-right.pure-button.pure-hide-xl 菜单
                h1 网站常用样式库
                h3 Web 中经常用到的样式

        block content

            .wrap.typo
                .pure-g.row
                    #menu-list.pure-u-1.pure-u-md-1-5.pure-hide-md
                        .col
                            ul.list
                                for article, slug in public.ui._data
                                    li
                                        a(href="#{ uri }/ui/#{ slug }.html")
                                            span= article.title

                    .pure-u-1.pure-u-md-4-5
                        .col
                            != yield



        footer.demo-footer
            .wrap.text-center.text--cap
                p CopyRight 2016 wpzhiku